# IDE
.vscode
.idea/

# Go prof output
*.prof

# Go test output
*/*.test
*/*.out

# Build output
build
dist

# Dependencies
vendor
glide.lock

# gomobile compilation output
*.aar
*.jar

# lachesis project specific
scripts/certs
scripts/nodes
scripts/peers.json
scripts/docker/upx
nodes
peers.json
certs
lachesis_*

# Graphviz and debug related
*.graph
*.gv
*.sorted
*.finality

# patch and diff files
*.patch
*.diff

# archives
*.tar.gz
*.tgz
*.zip

# Backup copies
*~
*.bak

.#*
